{% extends "base.html" %}

{% block content_header %}{% endblock %}

{% block logout %}{% endblock %}

{% block content %}
<h3>Login</h3>
<form action="{{ url_for('login') }}" class="form" method="post">
  <div class="form-group">
    <input class="form-control" name="email" type="text" value="" placeholder="Email"/>
    <input class="form-control" id="id_password" name="password" type="password" value="" placeholder="Password"/>
  </div>
  <button class="btn btn-primary" type="submit">Login</button>
</form>
{% endblock %}
